.container{
    position: relative;
    min-width: 100%;
    height: 100%;
    
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    background-color: var(--tertiary);
    min-width: 100%;
}

.section div.textDisplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
padding: 2rem;
    max-width: 1000px;
    text-align: center;
    z-index: 200;

}

.section h4{
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: center;

}

.section h6{
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    text-align: center;
}

.section p{
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 1rem;
    line-height: 1.25;

}

 .section div.icons{
    display: flex;
    max-width: 1500px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.overlay{
    background-color: rgba(0,0,0,0.4) !important;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
}



@media only screen and (max-width: 768px) {

    .section{
      padding: 0;
      margin: 0;
    
    }

    .section h4{
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 1rem;
        text-align: center;
    
    }

    .section p{
        font-size: 1rem;
        font-weight: 300;
        margin-bottom: 1rem;
        line-height: 1.25;
    
    }

}


