.contactForm{
    display: flex;
    flex-direction: column;
    min-width:35vw;
    background-color: #f3ecff;
    margin: 10px;
    border-radius: 20px;

}

.contactForm div{
    padding: 1rem;
}

.contactForm div label{
    display: block;
    margin:10px 0;
}

.contactForm div input{
    padding: 15px 1rem;
    min-width: 100%;
    border: 1px solid rgba(128, 0, 128, 0.375);
    border-radius: 5px;


}

.contactForm h1{
    padding: 20px;;
    font-size: 2rem;
    font-weight: 200;
}

.contactForm div textarea{
    padding: 10px 1rem;
    min-width: 100%;
    outline: none;
    border: 1px solid rgba(128, 0, 128, 0.375);
    border-radius: 5px;
}

.contactForm button{

    padding:15px;
    max-width: 15vw;
    appearance: none;
    border:0;
    outline: none;
    background-color:purple;
    color:white;
    border-radius: 25px;;
    margin: 10px;


    



}