.homeBanner{
    display: flex;
    justify-content: space-between;
    background:var(--secondary)
}

.homeBannerText{
    color:aliceblue;
    padding: 4.5rem;
    width: 50%;
}

.homeBannerImage{
    width: 50%;
    position: relative;
    position: unset !important;
    /* display: block; */
}

.image {
    object-fit: cover;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }