.homeBanner{
    display: flex;
    justify-content: space-evenly;
    background:var(--secondary);
    max-height: 560px;
    overflow: hidden;
    align-items: center;
}

.button{
    background-color: var(--main);
    margin-top:4rem;
    padding: 1rem 2rem;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: 200;
    text-align: left;
}

.homeBannerText{
    color:aliceblue;
    padding: 4rem 8rem;
    max-width: 50vw;
    line-height: 1;
    font-weight: 200;
    min-height: 500px;

}

.homeBannerText h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.homeBannerText p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    line-height: 1.2;
    letter-spacing: 0.5px;
    font-weight: 100;
}

.homeBannerImage{
    width: 50vw;
    position: relative;
    position: unset !important;
    /* display: block; */
}

.image {
    object-fit: cover;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }

  @media only screen and (max-width:1000px){
    .homeBanner{
        display: flex;
       flex-wrap: wrap;
        flex-direction: column-reverse;

    
    }
.homeBannerText{
    width: 100% !important;
    padding: 2rem;
    
}

.homeBannerText h1{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.homeBannerImage{
    width: 100%;
    position: relative;
    position: unset !important;
    display: none;
}
    
.image {
    object-fit: cover;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
    }


  }