.mapComponent{
    max-width:30vw;
 

    
}

.mapComponent .information{
    margin-top: 20px;;
}
.mapComponent .information address{

    display: flex;

    margin-bottom:20px;
    color:rgba(0,0,0,0.6x);
    line-height:1.5;
    font-style: normal;
    color: rgba(0,0,0,0.8);
}