.navigation {
    display: flex;
    justify-content: space-between;
    background-color: rgba(250, 245, 226, 0.231);
    padding: 10px;
}
.navigation ul{
    color: white;
    display:flex;
    justify-content: space-between;
}

.navigation ul li {
    list-style: none;
    padding: 10px;
}


/* responsive navigation styles */

@media screen and (max-width: 768px) {
    .navigation {
        flex-direction: column;
    }
    .navigation ul {
        flex-direction: column;
    }
    .navigation ul li {
        padding: 10px 0;
    }
    
}