.homeLink{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

a.homeLink{
    text-decoration: none;
}
.navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:var(--main);
    padding: 20px 10px;
    box-shadow: 2px ;
    position: fixed;
    min-width: 100%;
    z-index: 1000;
    top: 0;
}

.navigation #logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation .logo {
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: purple;
}
.navigation ul{
    color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 2;
    max-width: 500px;

}

.navigation .ctaButton{
    flex-grow: 1;
    max-width: 180px;
    padding: 15px;
    border-radius: 30px;
    text-align: center;

}

.navigation ul li {
    list-style: none;
    padding: 10px;

}

.navigation ul li a {
    text-decoration: none;
    color:black
}

/* .navigation ul li a:hover {
    color:var(--main);
    background-color: black;
    padding: 5px;
    border-radius: 5px;
}

.navigation ul li a:active {
    color:var(--main);
    background-color: black;
    padding: 5px;
    border-radius: 5px;
} */

.hamburger {
    display: none;
    cursor: pointer;
}

.overlayMenu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary);
    z-index: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}


.overlayMenu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.overlayMenu ul li{
    list-style: none;
    padding: 10px;
}

.overlayMenu ul li a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: 100;
}

.overlayMenu ul li a:hover{
    color: white;
    background-color: var(--primary);
    padding: 5px;
    border-radius: 5px;

}

.overlayMenu .closeMenu{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}





.ctaButton {
    background-color: purple;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    /* outline: 1px solid var(--secondary);
    outline-offset: 5px; */
}


/* responsive navigation styles */
@media screen and (max-width: 1000px) {

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--main);
    padding: 20px 10px;
    box-shadow: 2px ;
}
.hamburger{
    display: block;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    padding: 4px;
    
}
.navigation ul {
    display: none;
}
.navigation ul li {
    padding: 10px 0;
}


.ctaButton {
   display: none;
}

    
}