
.section{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--quaternary);
    color: white;
    position: relative;
 
}
.sectionText{
    padding:2rem 4rem;
}

.sectionText h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 300;
}

.sectionText p{
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 1.25;
}
.sectionText h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}


div.sectionImage{
    position: relative;
    min-width: 50%;
    min-height: calc(70vh - 100px);

  
}

div.sectionImage .image{
    min-width: 100%;
    object-fit: contain;
    object-position: center;
}
 



@media only screen and (max-width: 768px) {
    .section{
        flex-direction: column;
        padding: 1rem;
    }
    div.sectionImage{
        position: relative;
        min-width: 100vw;
        min-height: calc(40vh - 100px);
      
    }

    .sectionText{
        margin: 2rem 0;;
        padding:0 1rem;
    }
    
}


