.section{
    display: flex;
    background-color: var(--tertiary);
    min-width: 100vw;
    padding:5rem 8rem;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    
}

.section div.textDisplay{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
.section div.textDisplay a.link{
    border:1px solid rgb(200, 134, 200);
    display: flex;
    max-width:180px ;
    padding: 12px;
    border-radius: 20px;
    text-decoration: none;
    justify-content: center;
    font-weight: 100;
    color: purple;
    
}
.section div.sidekick{
    
}

.section h4{
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
  


}

.section h6{
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
  
}

.section p{
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 1rem;
    line-height: 1.25;

}

 .section div.icons{
    display: flex;
    max-width: 1500px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}



@media only screen and (max-width: 768px) {

    .section{

      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      min-width: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
        padding:2rem;

    
    }

    .section div.sidekick{
        display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    }
    

    .section h4{
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 1rem;

    }

    .section p{
        font-size: 1rem;
        font-weight: 300;
        margin-bottom: 1rem;
        line-height: 1.25;
    
    }

    .section div.icons{
        display: flex;
        min-width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    
    }

    .section div.sidekick img{
        min-width: 100%;
    }

}




